<!--
  Generated template for the InterestSelection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item-divider color="light">Selecione seus interesses</ion-item-divider>
  <ion-list>
      <div class="interest-list">
        <ion-item class="interest-list-items" *ngFor="let interest of interests" (click)="toggleUserInterests(interest)" no-lines>
          <div class="image-notSelected" *ngIf="checkUserInterests(interest)">
            <!-- interest.photo_url -->
            <img class="image-list" src="{{interest.photo_url}}">
          </div>
          <div class="image-selected" *ngIf="!checkUserInterests(interest)">
            <!-- interest.photo_url -->
            <img class="image-list" src="{{interest.photo_url}}">
          </div>
          <div class="textToBeAligned">
            {{interest.name}}
          </div>
        </ion-item>
      </div>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="updateUserInterests()"><ion-icon name="done-all"></ion-icon></button>
  </ion-fab>
</ion-content>
