page-main {

  .tab-button-modified {
    background: url(assets/images/icones.png) -124px -63px !important;
    width: 30px !important;
    height: 30px !important;
  }

  //Android
  .tabs-md .tabbar{
    background: color($colors, light);
    color: color($colors, barramais-tabs);
  }

  .tabs-md .tab-button {
    color: color($colors, barramais-tabs);
  }

  .tabs-md .tab-button[aria-selected=true] {
    color: color($colors, barramais-tabs);
  }

  //WindowsPhone
  .tabs-wp .tabbar{
    background: color($colors, light);
    color: color($colors, barramais-tabs);
  }

  .tabs-wp .tab-button {
    color: color($colors, barramais-tabs);
  }

  .tabs-wp .tab-button[aria-selected=true] {
    color: color($colors, barramais-tabs);
  }

  //IOS
  .tabs-ios .tabbar{
     background: color($colors, light);
    color: color($colors, barramais-tabs);
  }

  .tabs-ios .tab-button {
    color: color($colors, barramais-tabs);;
  }

  .tabs-ios .tab-button[aria-selected=true] {
    color: color($colors, barramais-tabs);
  }

  .tabs-md .tab-button[aria-selected=true] .tab-button-icon,
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
  .tabs-wp .tab-button[aria-selected=true] .tab-button-icon {
    color: color($colors, barramais-tabs);
  }

  .tabs-md .tab-button-icon,
  .tabs-ios .tab-button-icon,
  .tabs-wp .tab-button-icon {
    color: color($colors, barramais-tabs);
  }

}
