<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="background-image">
      <img src="assets/images/post.jpg" alt="Perfil Header" />
    </div>
    <div class="main-content">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/images/batman.png">
        </ion-thumbnail>
        <h2>{{user.first_name + " " + user.last_name}}</h2>
      </ion-item>
      <ion-card>
        <a ion-item (click)="openModal()">
          <ion-avatar item-left>
            <img src="assets/images/logo.png"/>
          </ion-avatar>
          <p>
            O que você está pensando...
          </p>
        </a>
      </ion-card>
        <ion-row class="actions-row">
          <ion-col width-25 (click)="openPage(friendsPage)">
            <ion-icon name="people" class="icon-button"></ion-icon>
            <p class="icon-word">
              Amigos
            </p>
          </ion-col>
          <ion-col width-25 (click)="openPage(friendsPage)">
            <ion-icon name="images" class="icon-button"></ion-icon>
            <p class="icon-word">
              Album
            </p>
          </ion-col>
            <ion-col width-25 (click)='createConversationWith(user)' [hidden]="!visitorActions">
              <ion-icon name="chatbubbles" class="icon-button"></ion-icon>
              <p class="icon-word">
                Chat
              </p>
            </ion-col>
            <ion-col width-25 (click)="request_friendship(user)" *ngIf="visitorActions && !isFriend">
              <ion-icon name="person-add" class="icon-button"></ion-icon>
              <p class="icon-word">
                {{isFriend}}
              </p>
            </ion-col>
            <!-- <ion-col width-25 (click)="refuse_friendship(user)" *ngIf="visitorActions && isFriend && isFriend !== null">
              <ion-icon name="arrow-down" class="icon-button"></ion-icon>
              <p class="icon-word">
                {{isFriend}}
              </p>
            </ion-col> -->
        </ion-row>
      <ion-row>
        <ion-col width-17 *ngIf="user.naval_service_patent !== 0">
          <img src="assets/images/{{user.naval_service_patent}}.png" alt="" />
        </ion-col>
        <ion-col width-17 *ngIf="user.nautical_license !== 0">
          <img src="assets/images/{{user.nautical_license}}.png" alt="" />
        </ion-col>
      </ion-row>
      <button ion-button block outline color="light" class="information-button" (click)="showProfileInformation()">
        Perfil Completo
      </button>
      <div [hidden]="!profileInformation">
        <ion-list class="profile-information">
          <ion-item *ngIf="user.academic_profile!==''">
            <ion-icon name="school"></ion-icon>
            <p>{{user.academic_profile}}</p>
          </ion-item>
          <ion-item *ngIf="user.work!==''">
            <ion-icon name="briefcase"></ion-icon>
            <p>{{user.work}}</p>
          </ion-item>
          <ion-item *ngIf="user.birthday!==null">
            <ion-icon name="calendar"></ion-icon>
            <p>{{user.birthday | date:'MMMM d, y'}}</p>
          </ion-item>
          <ion-item *ngIf="user.sex=='M'">
            <ion-icon name="male"></ion-icon>
            <p>Masculino</p>
          </ion-item>
          <ion-item *ngIf="user.sex=='F'">
            <ion-icon name="female"></ion-icon>
            <p>Feminino</p>
          </ion-item>
        </ion-list>
      </div>
      <ion-card *ngFor="let post of posts">
        <ion-item>
          <ion-avatar item-left>
            <img src="{{post.user.avatar_url}}"/>
          </ion-avatar>
          <h2>{{post.user.name}}</h2>
          <p>{{post.sent_date_format}}</p>
        </ion-item>
        <ion-card-content>
          <p>{{post.description}}</p>
        </ion-card-content>
        <img src="{{post.attched_image_url}}" *ngIf="post.attched_image_url" />
        <ion-row>
          <ion-col width-10>
            <button class='like-action' ion-button icon-left clear small (click)='like(post)'>
              <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" [color]="like_color_for(post)"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-10>
            <button ion-button icon-left clear small (click)='openCommentsModal(post)'>
              <ion-icon ios="ios-text" md="md-text" color="grayed"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-10>
            <button ion-button icon-left clear small>
              <ion-icon ios="ios-share" md="md-share" color="grayed"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-item *ngIf='post.likes.size > 0 || post.comments.length > 0' class="action-status">
          <div item-left no-margin *ngIf='post.likes.size > 0'>
            <ion-badge item-left small>{{post.likes.size}}</ion-badge>
            <ion-icon name="thumbs-up" item-left small></ion-icon>
          </div>
          <div item-right no-margin *ngIf='post.comments.length > 0' (click)='openCommentsModal(post)'>
            <ion-badge item-right small>{{post.comments.length}}</ion-badge>
            <ion-icon name="text" item-right small></ion-icon>
          </div>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
