bm-post {

  .rich_url-image img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px 3px 0 0;
  }

  .rich_url p {
    font: .8em;
    color: #666;
    margin: 10px;
  }

  .rich_url h2 {
    margin: 2px 10px;
    font-size: 1.6rem;
    font-weight: normal;
    color: #222;
  }

  .post-attach.rich_url {
      width: 100%;
      border: 1px solid #efecec;
      padding: 0;
      margin-top: 10px;
      border-radius: 3px;
  }

  .destroy-button {
    font-size: 0.7em !important;
    margin: 4px 0 !important;
    background-color: transparent !important;
    position: absolute;
    right: 0;
    top: 0;
    color: #aeadad;
  }

  .post-comments {
    background-color: rgba(241, 241, 241, 0.57);
    border-bottom: 1px solid #efeaea;
  }

  .post-header .post-header-title, .post-header ion-avatar {
    padding-top: 5px;
  }

  .post-header ion-avatar {
    margin-right: 10px !important;
  }

  .post-header-title {
    display: flex;
    flex-wrap: nowrap;
  }

  .post-header-title .domain_title {
    margin-left: 5px;
  }

  .button-clear-md img,
  .button-clear-ios img,
  .button-clear-wp img {
    background: none;
    width: 1.3em;
  }

}
