<ion-card *ngFor="let post of posts">
  <ion-item class='post-header'>
    <ion-avatar item-left (click)='openProfile(post.user.user_id)'>
      <img src="{{post.user.avatar_url}}"/>
    </ion-avatar>
    <button ion-button class="destroy-button" clear type="button" *ngIf="post.user.user_id == current_user.id" item-right small (click)="deletePost(post)">
      <ion-icon name="close"></ion-icon>
    </button>

    <div class='post-header-title'>
      <h2 (click)='openProfile(post.user.user_id)'>
        {{post.user.name}}
      </h2>
      <h2
      class='domain_title'
      (click)='openDomain(post.domain_type, post.domain)'
      *ngIf='notTheAuthor(post)'
      >
        > {{getDomainName(post)}}
      </h2>
    </div>
    <p>{{post.sent_date_format}}</p>
  </ion-item>
  <ion-card-content>
    <p>{{post.description}}</p>
    <div *ngIf="post.post_images">
      <div class='post-images' (click)="openPhotos(post.post_images)">
        <div *ngFor="let image of post.post_images | slice:0:4; let i = index" class="{{i == 3 ? 'post-image plus-sign-icon' : 'post-image'}}">
          <img src="{{image.post_image}}" />
        </div>
      </div>
    </div>
    <div class="post-attach rich_url" *ngIf="post.rich_url" (click)="openLink(post.rich_url.url)">
      <div class="rich_url-image">
        <img src="{{post.rich_url.images[0].src}}" *ngIf="post.rich_url.images.length > 0" alt="" />
      </div>
      <h2>{{post.rich_url.title}}</h2>
      <p>
        {{post.rich_url.description}}
      </p>
    </div>
  </ion-card-content>
  <ion-row>
    <ion-col width-25>
      <div class="badges-container">
        <ion-badge item-left small *ngIf='post.likes.size > 0'>{{post.likes.size}}</ion-badge>
      </div>
      <button class='like-action' ion-button icon-left clear small (click)='like(post)'>
        <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" [color]="like_color_for(post)"></ion-icon>
      </button>
    </ion-col>
    <ion-col width-25>
      <div class="badges-container">
        <ion-badge item-left small *ngIf='post.comments.length > 0'>{{post.comments.length}}</ion-badge>
      </div>
      <button ion-button icon-left clear small (click)='post.showComments = !post.showComments'>
        <ion-icon ios="ios-text" md="md-text" color="barramais"></ion-icon>
      </button>
    </ion-col>
    <!-- <ion-col width-25>
      <div class="badges-container">
      </div>
      <button ion-button icon-left clear small>
        <ion-icon ios="ios-share" md="md-share" color="grayed"></ion-icon>
      </button>
    </ion-col> -->
  </ion-row>
  <div *ngIf="post.showComments">
    <div class="post-comments" *ngFor='let comment of post.comments'>
      <ion-item>
        <ion-avatar item-left (click)='openProfile(comment.commentator.user_id)'>
          <img src="{{comment.commentator.avatar_url}}">
        </ion-avatar>
        <h2 (click)='openProfile(comment.commentator.user_id)'>{{comment.commentator.name}}</h2>
        <p>{{comment.sent_date_format}}</p>
        <button
          type="button"
          *ngIf="post.user.user_id == current_user.id || comment.commentator.user_id == current_user.id"
          item-right
          light
          small
          (click)="deleteComment(post, comment)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>
      <ion-card-content>
        <p>{{comment.body}}</p>
      </ion-card-content>
    </div>
  </div>
  <div class="comment-form">
    <textarea placeholder='Comentar..' [(ngModel)]="post.new_comment_body"></textarea>
    <button class="send-comment-button" item-right icon-button ion-button color="primary" (click)="createComment(post, post.new_comment_body)">
      <ion-icon name="send"></ion-icon>
    </button>
  </div>
</ion-card>
