page-home {

  ion-header {
    display: none !important;
  }

  ion-content{
    background-color: #123f5f !important;
  }

  ion-navbar.toolbar {
    display: none !important;
  }

  .logo-home{
    width: 100%;
    margin: 13% auto;
  }

  h3{
    color: #f5f5f5;
    font-weight: bold;
    text-shadow: 0px 1px 3px #969696;
    margin: 0 auto !important;
    text-align: center;
    top: -80px;
    position: relative;
    font-size: 3rem;
  }

  .buttons-color-facebook{
    background-color: #4267b2;
    color: #f5f5f5;
  }

  .buttons-color-google{
    background-color: #df4a32;
    color: #f5f5f5;
  }

  .links-color{
    color: #f5f5f5;
  }

  .content-links{
    width: 88%;
    margin: 0 auto;
    text-align: center;
  }

  .item-md, .item-ios, .item-wp{
    background-color: transparent;
    color: #f5f5f5;
  }

  .text-input-wp {
    border: 2px solid #f5f5f5;
  }

  .content-md,
  .content-ios,
  .content-wp {
    text-align: center;
  }

  img {
    max-width: 100%;
    position: relative;
  }

  .actions{
    position: absolute;
    z-index: 999;
    top: 60%;
    width: 100%;
    padding: 10px;
  }

  .slide1{
    background: #f4b84d;
  }

  .slide2{
    background: #f7a14b;
  }

  .slide3{
    background: #ef7a2b;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #f5f5f5;
    opacity: 0.9;
    pointer-events: auto;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: url(../assets/images/ANCORA.png);
    background-position: center;
    background-size: cover;
    /* background-color: #f5f5f5; */
    width: 14px;
    height: 18px;
    position: relative;
    // top: 12px;
    margin: 0 1px !important;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 52px;
    left: 0;
    width: 100%;
  }



}
