page-add-group-members {

  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
  }

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    overflow: hidden;
  }

  .item-wp ion-avatar ion-img, .item-wp ion-avatar img {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .item-md, .item-wp, .item-ios{
    color: #d5d5d5;
  }

  .item-inner {
    color: #123f5f;
  }

  //Android
  .toolbar-background-md {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #f5f5f5;
    background-color: transparent;
  }

  //IOS
  .toolbar-background-ios {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #f5f5f5 !important;
    background-color: transparent;
  }

  //Windows
  .toolbar-background-wp {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-wp {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default {
    color: #f5f5f5;
    background-color: transparent;
  }

  .form-buttons{
    background-color: #123f5f !important;
  }

  ion-thumbnail img {
    display: block;
    border-radius: 4px;
  }

  .item-friends{
    background: #fff !important;
    border-bottom: solid 4px #dedede !important;
    margin: 8px !important;
    width: calc(100% - 16px) !important;
    padding-left: 8px !important;
    border-radius: 2px !important;
  }

  .item-friends .item-inner{
    border-bottom: none !important;
  }

  .friend-information-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  .friend-information-text{
    display: flex;
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
    flex-direction: column;
  }

  .friend-information-buttons{
    display: flex;
    order: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    flex-direction: end;
  }

  .fab{
    border-radius: 25%;
  }

  .fab-md-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-md-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

}
