<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="background-image">
    <img src="{{group.cover_photo_url}}" alt="Perfil Header"/>
    <button
      icon-left
      class="perfil-actions"
      ion-button color="secondary"
      style="right: 79px !important;"
      [hidden]="!showAdminActions"
      (click)="openModal(groupMembers, friends)">
      <ion-icon name="add"></ion-icon>
      membro
    </button>
    <button
      icon-left
      class="perfil-actions"
      ion-button color="primary"
      (click)="accept_group()"
      *ngIf="showMemberActions && !showInvitedMemberActions">
      Participar
    </button>
    <button
      icon-left
      class="perfil-actions"
      ion-button color="danger"
      (click)="refuse_group()"
      *ngIf="!showMemberActions && !showInvitedMemberActions">
      Não Participar
    </button>
  </div>
  <div class="main-content">
    <ion-item>
      <h2>{{group.name}}</h2>
      Criado em <p>{{group.created_at | date:'MMMM d, y'}}</p>
    </ion-item>
    <ion-item>
      <p>
        {{group.about}}
      </p>
    </ion-item>
    <ion-row>
      <ion-col width-33>
        <div class="members-col">
          <a (click)="openModal(groupMembers, confirmedMembers)">
            <h2>{{l_confirmedMembers}}</h2>
          </a>
          <p>
            Membros
          </p>
        </div>
      </ion-col>
      <ion-col width-33 [hidden]="!showAdminActions">
        <div class="members-col">
          <a (click)="openModal(groupMembers, allMembers)">
            <h2>{{l_allMembers}}</h2>
          </a>
          <p>
            Todos
          </p>
        </div>
      </ion-col>
      <ion-col width-33 [hidden]="!showAdminActions">
        <div class="members-col">
          <a (click)="openModal(groupMembers, pendingMembers)">
            <h2>{{l_pendingMembers}}</h2>
          </a>
          <p>
            Pendentes
          </p>
        </div>
      </ion-col>
    </ion-row>
    <bm-post [posts]="posts"></bm-post>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="openPostModal()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
</ion-content>
