page-groups {

  ion-card {
    position: relative;
    text-align: left;
    padding: 10px;
  }
  ion-card img{
    position: absolute;
    max-width: 130%;
    width: 130%;
    top: -10%;
    left: -13%;
  }

  .card-title {
    position: absolute;
    bottom: 15px;
    font-size: 1.1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #fff;
    margin-left: 10px;
  }

  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #f5f5f5;
    opacity: 1;
  }

  .segment-md .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #f5f5f5;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
  }

  .toolbar-ios .segment-button {
    max-width: 118px;
    height: 2.6rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .segment-ios .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #F5F5F5;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #F5F5F5;
    background-color: transparent;
  }

  .segment-ios .segment-button.segment-activated {
    color: #123F5F;
    background-color: #F5F5F5;
    opacity: 1;
    transition: 100ms all linear;
  }

  .segment-wp .segment-button {
    padding: 0 6px;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 4rem;
    text-transform: uppercase;
    color: #F5F5F5;
    background-color: transparent;
    opacity: 0.5;
  }

  .fab{
    border-radius: 25%;
  }

  .fab-md-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-md-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .groups{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  .group{
    display: flex;
    width: calc(50% - 4px);
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    height: 89px;
    margin: 2px;
    overflow: hidden;
    padding: 0;
  }


}
