  <div class="toolbar-ios-fix">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button class="bar-buttons" right ion-button (click)="openPage(profilePage)">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
      <button class="bar-buttons" right ion-button>
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
      </button>
      <button class="bar-buttons" right ion-button>
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
      <button class="logo bar-buttons" left ion-button (click)="openPage(mainPage)">
        <img src="assets/images/logo.png" alt="Barramais" />
      </button>
    </div>
