<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col width-50>
      <button ion-button outline color="light" (click)="openPage(friendsPage)">
        Amigos
      </button>
    </ion-col>
    <ion-col width-50>
      <button *ngIf="current_user.id == user.id" ion-button outline color="light" (click)="openPage(friendshipRequestPage)">
        Pendentes
      </button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item class="item-friends" *ngFor="let user of friends">
      <ion-thumbnail item-left (click)='openProfile(user)'>
        <img src="{{user.avatar_url}}" />
      </ion-thumbnail>
      <div class="friend-information-container">
        <div class="friend-information-text">
          <h2 (click)='openProfile(user)'>{{user.first_name}} {{user.last_name}}</h2>
          <p>{{user.birthday | date:'MMMM d, y'}}</p>
        </div>
        <div class="friend-information-buttons">
          <button ion-button icon-left color="danger" (click)="unfriend(user)" *ngIf="user.isFriend === true">
            <ion-icon name="remove"></ion-icon>
            Amigo
          </button>
          <button ion-button icon-left color="primary" (click)='request_friendship(user)' *ngIf="user.isFriend === false && user.id != current_user.id">
            <ion-icon name="add"></ion-icon>
            Amigo
          </button>
          <button ion-button icon-only clear (click)='isWaiting(user.first_name)' *ngIf="user.isFriend === 'waiting'" >
            <ion-icon name="time"></ion-icon>
          </button>
          <button ion-button icon-left  (click)='createConversationWith(user)' *ngIf="user.id != current_user.id">
            <ion-icon name="chatbubbles"></ion-icon>
            Chat
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
