page-friends {
  .button-outline-md-light {
    color: #123f5f;
    width: 100%;
  }

  .button-outline-ios-light {
    color: #123f5f;
    width: 100%;
  }

  .button-outline-wp-light {
    color: #123f5f;
    width: 100%;
  }
  
  .button-md-primary, .button-ios-primary, .button-wp-primary {
    color: #fff;
    background-color: #123f5f;
  }

  .item-md  .item-button, .item-ios  .item-button, .item-wp  .item-button{
    height: 2.4rem;
  }

  .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .label-md,
  .label-ios,
  .label-wp {
    margin: 13px 1px 5px 0;
  }

}
