@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.comming {
    max-width: 54px !important;
    margin-left: 20px !important;
}

.preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
}

.preloader img {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.background-image {
  background: #4e6692 !important;
}

* {
  box-shadow: none !important;
  font-family: 'Lato', sans-serif !important;
}

a {
  color: color($colors, barramais-primary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input{
  font-size: 1.4rem !important;
}

ion-icon {
  font-size: 1.4rem;
}

ion-content {
  background-color: color($colors, light) !important;
}

ion-segment {
  margin-top: 10px;
}

ion-card img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: #4e6692;
}

ion-card ion-avatar img,
ion-card ion-avatar img,
ion-card ion-avatar img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

ion-thumbnail img {
  //display: block;
  border-radius: 50%;
  height: 51px !important;
  width: 51px !important;
}


.button-block{
  text-transform: uppercase
}

.ion-input-ios,
.ion-input-md,
.ion-input-wp{
  font-size: 1.4rem
}

.bar-button-default-md,
.bar-button-default-ios,
.bar-button-default-wp {
  color: #f5f5f5;
}

.bar-button-clear-ios,
.bar-button-clear-md{
  font-size: 1.4rem;
  text-transform: capitalize;
}

.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
  background: color($colors, barramais-secondary);
  background: -webkit-linear-gradient(left, color($colors,barramais-primary) 0%, color($colors, barramais-secondary) 100%);
  background: -moz-linear-gradient(left, color($colors,barramais-primary) 0%, color($colors, barramais-secondary) 100%);
  background: -o-linear-gradient(left, color($colors,barramais-primary) 0%, color($colors, barramais-secondary) 100%);
  background: linear-gradient(to right, color($colors,barramais-primary) 0%,color($colors, barramais-secondary) 100%);
}

.menu-inner {
  top: 0;
  width: 245px;
}

.item-inner {
  font-size: 1.4rem;
  color: color($colors, barramais-primary);
}

.menu-item img{
  max-width: 26px;
}

.icon-itens {
  vertical-align: middle;
  margin: 0 10px;
}

.menu-config {
  width: 98%;
  margin: 0 auto;
}



.button-clear-md,
.button-clear-ios,
.button-clear-wp {
  color: color($colors, barramais-primary);
  font-size: 1.8rem;
}

.button-outline-md,
.button-outline-ios,
.button-outline-wp {
  color: color($colors, barramais-primary);
  border-color: color($colors, barramais-primary);
}
.button-outline-md.activated,
.button-outline-ios.activated,
.button-outline-wp.activated {
  background-color: color($colors, barramais-primary);
}

.logo {
  float: left;
}

.form-buttons{
  background-color: color($colors, barramais-primary)!important;
}


.sub-menu-item {
  transition: all 1s ease-in !important;
  padding-left: 40px;
}

.item-sub{
  font-size: 1.3em !important;
}

.avatar{
  background: #f5f5f5;
}

.last-links{
  min-height: 1.4em !important;
}

.last-links .label-md,
.last-links .label-ios,
.last-links .label-wp {
  margin: 5px !important;
}

.social-media {
  width: 29px;
}

.item-ios[detail-push] .item-inner,
button.item-ios:not([detail-none]) .item-inner,
a.item-ios:not([detail-none]) .item-inner{
  background-image: none;
}

.item-md ion-avatar img,
.item-ios ion-avatar img,
.item-wp ion-avatar img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  overflow: hidden;
}

.item-md p,
.item-ios p,
.item-wp p {
  color:color($colors, dark);
  font-size: 1.4rem;
}

.item-md p a,
.item-ios p a,
.item-wp p a{
  color:color($colors, barramais-primary);
  font-size: 1.2rem;
}

.item-sub ion-label {
  font-size: .8em;
}

.item-border {
  border-top: #c8c7cc;
  border-style: solid;
}

.menu-item li:last-child .item-block .item-inner {
  border-bottom: none;
}

.action-status {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f1f1;
}

ion-badge {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px !important;
  font-size: 0.7em;
  background-color: #ffa051 !important;
}
.custom-ion-list{
  margin-top: 14px;
}

.badges-container{
  min-width: 32px;
  min-height: 32px;
  position: relative;
  top: 29px;
  left: 37px;
  z-index: 9999;
}

.button-md-primary, .button-ios-primary, .button-wp-primary {
  color: #fff;
  background-color : color($colors, barramais-primary);
}

.item-md, .item-ios, .item-wp{
  background-color: transparent;
}

.send-comment-button{
  margin: 0px !important;
  padding: 0 .6em !important;
  height: auto !important;
  font-size: 0.8rem !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  box-shadow: none;
  transition: none !important;
  border-radius: 0 0 2px 0;
  border-left: solid 1px #a7acaf;
}

.plus-sign-icon::before{
  content: "+ Imagens";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 42% 10%;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

textarea{
  overflow: hidden;
  height: auto;
  font: inherit;
  color: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  border: none;
  border-radius: 2px 0 0 0;
  padding: 10px;
  resize: none;
  border-top: solid 1px #f1f1f1;
}

.comment-form{
  height: 38px;
  display: flex;
}

.menu-item-icone{
  width: 21px;
  height: 20px;
  margin: 0 10px;
  border: 0;
}

.menu-inner {
  top: 0;
  width: 300px;
}

.footer-menu{
  background-color: color($colors, barramais-primary)
}

.footer-menu  ion-icon{
    color: #fff
}

.item-menu{
  background-color: rgb(248, 248, 248);
  color: color($colors, barramais-primary);
}

.feed{
  background: url('../assets/images/icons/boat@.png') no-repeat center ;
}

.amigos{
  background: url('../assets/images/icons/contacts.png') no-repeat center;
}

.paginas{
  background: url('../assets/images/icons/pages.png') no-repeat center;
}

.sobre{
  background: url('../assets/images/icons/about.png') no-repeat center;
}

.classificados{
  background: url('../assets/images/icons/cash.png') no-repeat center;
}

.configuracoes{
  background: url('../assets/images/icons/config.png') no-repeat center;
}

.mensagens{
  background: url('../assets/images/icons/msg.png') no-repeat center;
}

.atividades{
  background: url('../assets/images/icons/group.png') no-repeat center;
}

.ajuda{
  background: url('../assets/images/icons/help.png') no-repeat center;
}

.menu-item-container{
  display: flex;
  align-items: center;
}

.fab{
  border-radius: 25%;
}

.fab-md-danger {
  color: #fff;
  background-color: #faa35f;
}

.fab-ios-danger {
  color: #fff;
  background-color: #faa35f;
}

.fab-wp-danger {
  color: #fff;
  background-color: #faa35f;
}

.fab-md-danger.activated {
  color: #fff;
  background-color: #faa35f;
}

.fab-ios-danger.activated {
  color: #fff;
  background-color: #faa35f;
}

.fab-wp-danger.activated {
  color: #fff;
  background-color: #faa35f;
}

.item-friends{
  background: #fff !important;
  border-bottom: solid 4px #dedede !important;
  margin: 8px !important;
  width: calc(100% - 16px) !important;
  padding-left: 8px !important;
  border-radius: 2px !important;
}

.item-friends .item-inner{
  border-bottom: none !important;
}

.friend-information-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.friend-information-text{
  display: flex;
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
  flex-direction: column;
}

.friend-information-buttons{
  display: flex;
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-end;
  flex-direction: end;
}

.post-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.post-image {
  order: 0;
  overflow: hidden;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 49%;
  padding: 2px;
  margin: 0 0 2px 2px;
  position: relative;
  border-radius: 4px;
}



.post-image img {
  width: auto !important;
  max-width: 100% !important;
  display: inline !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.no-scroll .scroll-content{
     overflow: hidden;
}

