page-user {

  .toolbar-md-primary .toolbar-background-md {
      background: #123f5f;
  }

  .toolbar-ios-primary .toolbar-background-ios {
      background: #123f5f;
  }

  .toolbar-wp-primary .toolbar-background-wp {
      background: #123f5f;
  }

  .item-inner {
      margin-left: 0 !important;
      font-size: 1.5rem;
      // border-bottom: 0.55px solid #c8c7cc !important;
  }

  .item-md, .item-ios, .item-wp {
     padding-left: 0;
  }

  .container{
    padding: 10px;
  }

  .nautical_license{
    width: 24.5px;
  }

  .camera-button {
      background-color: transparent;
      float: left;
      bottom: 0;
      position: relative;
      font-size: 1em;
      color: #123f5f;
  }

  .avatar-user{
      border: none !important;
  }

  .fab{
    border-radius: 25%;
  }

  .fab-md-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-md-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-ios-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .fab-wp-danger.activated {
    color: #fff;
    background-color: #faa35f;
  }

  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left] {
    margin: 8px 16px;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 0;
  }

  .item-md,
  .item-ios,
  .item-wp {
    background-color: #fff;
  }

  .image-list {
    border: 0;
    width: 40px;
  }

  .image-selected{
    opacity: 0.3;
  }

  .interest-list{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: stretch;
     align-content: stretch;
     padding-left: 35px;
 }

 .interest-list-items{
     display: flex;
     width: 33.3333%;
 }

 .session-divider{
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
   background: #fff;
   border-radius: 4px;
 }

 .session-content{
   padding: 10px;
   background: #fff;
 }

 .session-icon{
    width: 30px;
    height: 30px;
    margin-right: 17px;
    margin-left: 7px;
 }

 .account{
   background: url(../assets/images/icones.png) -62px -62px;
 }

 .personal{
   background: url(../assets/images/icones.png) 0px -62px;
 }

 .nautical{
  background: url(../assets/images/icones.png) -31px -62px;
 }

 .interest{
       background: url(../assets/images/icones.png) -93px -62px;
 }

 .avatar-user p{
   margin-left: 10px;
 }

 .avatar-user ion-label {
    display: flex;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  ion-item-divider {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 0.5em !important;
  }

  ion-content{
    background: #f5f5f5 !important;
  }

  .textToBeAligned{
    // text-align: center;
    font-size: 65% !important;
  }

  .areaText{
    text-align: center !important;
  }

  ion-label{
    font-size: 0.8em !important;
  }

  .session-interest{
    padding: 10px !important;
  }

  .session-sports{
    padding: 0 !important;
  }

  .divider-items {
      width: 100%;
      margin: 31px 0 10px 0;
      height: 5px;
      background: #c8c7cc;
  }

}
