page-user {

  .toolbar-md-primary .toolbar-background-md {
      background: #123f5f;
  }

  .toolbar-ios-primary .toolbar-background-ios {
      background: #123f5f;
  }

  .toolbar-wp-primary .toolbar-background-wp {
      background: #123f5f;
  }


}
