page-notifications {
  .background-image {
      background-size: cover;
      background-position: center;
      height: 200px;
      overflow: hidden;
  }

  .background-image img{
    min-width: 100%;
    max-width: 110%;
    position: relative;
    left: -5%;
    top: -5%;
  }

  .cover-camera-icon{
      position: absolute !important;
      top: 2px !important;
      right: 6px !important;
      z-index: 999 !important;
      opacity: 0.5 !important;
      color: #f5f5f5 !important;
  }

  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }

  .item-md, .item-ios, .item-wp {
     padding-left: 0;
  }

  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
  }

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    overflow: hidden;
  }

  .item-wp ion-avatar ion-img, .item-wp ion-avatar img {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  .item-md, .item-wp, .item-ios{
    color: #d5d5d5;
  }

  .item-inner {
    color: #123f5f;
  }

  //Android
  .toolbar-background-md {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #f5f5f5;
    background-color: transparent;
  }

  //IOS
  .toolbar-background-ios {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #f5f5f5 !important;
    background-color: transparent;
  }

  //Windows
  .toolbar-background-wp {
    border-color: #123f5f;
    background: #123F5F;
  }

  .toolbar-title-wp {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #f5f5f5;
  }

  .bar-button-default-wp, .bar-button-clear-wp-default, .bar-button-wp-default {
    color: #f5f5f5;
    background-color: transparent;
  }

  .form-buttons{
    background-color: #123f5f !important;
  }

  .container{
    padding: 10px;
  }

  .button-md-primary, .button-ios-primary, .button-wp-primary {
    color: #fff;
    background-color: #123f5f;
  }

  .item-md  .item-button, .item-ios  .item-button, .item-wp  .item-button{
    height: 2.4rem;
  }

  .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .label-md,
  .label-ios,
  .label-wp {
    margin: 13px 1px 5px 0;
  }
  
}
