<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastre seu Evento
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="http://localhost:3000/images/eventos.png" *ngIf="!event.cover_photo && !event.cover_photo_url" />
    <img src="{{event.cover_photo_url}}" *ngIf="event.cover_photo_url && !event.cover_photo" />
    <img src="{{event.cover_photo}}" [hidden]="!event.cover_photo" />
    <ion-icon class="cover-camera-icon" name="camera" (click)="presentActionSheet()"></ion-icon>
  </div>
  <div class="container">
    <ion-list>
      <!-- <ion-item>
        <ion-thumbnail item-left>
          <img src="{{event.cover_photo}}" id='event_cover_photo' [hidden]="event.cover_photo === null">
        </ion-thumbnail>
      </ion-item> -->
      <ion-item>
        <ion-label floating>Nome do Evento</ion-label>
        <ion-input type="text" [(ngModel)]="event.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Data do Evento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="event.event_date" name="event_date" max="2117" min="2017"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-textarea [(ngModel)]="event.about" name="about"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-textarea [(ngModel)]="address.zip_code" name="zip_code"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-textarea [(ngModel)]="address.street" name="street"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Complemento</ion-label>
        <ion-input type="text" [(ngModel)]="address.complement" name="complement"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bairro / Setor</ion-label>
        <ion-input type="text" [(ngModel)]="address.neighborhood" name="neighborhood"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Selecione o Estado</ion-label>
        <ion-select [(ngModel)]="address.state_id" (ionChange)="getCities()">
          <ion-option *ngFor="let state of states" [value]="state.id" >{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Selecione a cidade</ion-label>
        <ion-select [(ngModel)]="address.city_id">
          <ion-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button class="form-buttons" ion-button type="button" block name="button" (click)="create(event, address)" *ngIf="event.id == null">Salvar</button>
    <button class="form-buttons" ion-button type="button" block name="button" (click)="update(event, address)" *ngIf="event.id != null">Atualizar</button>
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <button ion-button color="light" clear (click)="presentActionSheet()" icon-left>
      <ion-icon ios="ios-open" md="md-open"></ion-icon>
      Selecionar midia
    </button>
  </ion-toolbar>
</ion-footer> -->
