<ion-header>
  <ion-toolbar>
    <ion-title>
      Convidados
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="item-friends" *ngFor="let guest of guests">
      <ion-thumbnail item-left (click)='openProfile(guest)'>
        <img src="{{guest.avatar_url}}">
      </ion-thumbnail>
      <ion-label>
        <div class="friend-information-container">
          <div class="friend-information-text">
            <h2 (click)='openProfile(guest)'>{{guest.first_name}} {{guest.last_name}}</h2>
            <p>{{guest.birthday | date:'MMMM d, y'}}</p>
          </div>
        </div>
      </ion-label>
      <ion-checkbox item-right *ngIf="showAdminActions" color="dark" checked="false" [(ngModel)]="guest.invited" (ionChange)="getSelect(guest.invited, guest)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="showAdminActions && this.selectedGuests.length > 0" >
    <button ion-fab mini color="danger" (click)="invitation(selectedGuests)"><ion-icon name="mail"></ion-icon></button>
  </ion-fab>
</ion-content>
