<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
    <ion-segment [(ngModel)]="events">
      <ion-segment-button value="my-events">
        Próprios
      </ion-segment-button>
      <ion-segment-button value="confirmed-events">
        Confirmados
      </ion-segment-button>
      <ion-segment-button value="pending-events">
        Pendentes
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]=90>
   <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
   </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="events">
    <ion-list *ngSwitchCase="'my-events'">
      <ion-card *ngFor="let event of my_events">
        <ion-buttons end>
          <button ion-button icon-only clear (click)="openPage(event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        <a (click)="openPage(event)">
          <ion-item>
            <ion-avatar item-left>
              <h2 class="h2-events-avatar">{{ event.event_date | date:'dd'}}</h2>
              <h3 class="h3-events-avatar">{{ event.event_date | date:'MMM'}}</h3>
            </ion-avatar>
            <h2>{{event.name}}</h2>
            <p>{{event.created_at | date:'MMMM d, y'}}</p>
          </ion-item>
          <ion-card-content>
            <p text-wrap>{{event.about}}</p>
            <img src="{{event.cover_photo_url}}"/>
          </ion-card-content>

          <!-- <ion-row>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-text" md="md-text"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
              </button>
            </ion-col>
          </ion-row> -->
        </a>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'confirmed-events'">
      <ion-card *ngFor="let event of confirmed_events">
        <ion-buttons end>
          <button ion-button icon-only clear (click)="openPage(event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        <a (click)="openPage(event)">
          <ion-item>
            <ion-avatar item-left>
              <h2 class="h2-events-avatar">{{ event.event_date | date:'dd'}}</h2>
              <h3 class="h3-events-avatar">{{ event.event_date | date:'MMM'}}</h3>
            </ion-avatar>
            <h2>{{event.name}}</h2>
            <p>{{event.created_at | date:'MMMM d, y'}}</p>
          </ion-item>
          <ion-card-content>
            <p>{{event.about}}</p>
            <img src="{{event.cover_photo_url}}"/>
          </ion-card-content>
          <!-- <ion-row>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-text" md="md-text"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
              </button>
            </ion-col>
          </ion-row> -->
        </a>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'pending-events'">
      <ion-card *ngFor="let event of pending_events">
        <ion-buttons end>
          <button ion-button icon-only clear (click)="openPage(event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
        <a (click)="openPage(event)">
          <ion-item>
            <ion-avatar item-left>
              <h2 class="h2-events-avatar">{{ event.event_date | date:'dd'}}</h2>
              <h3 class="h3-events-avatar">{{ event.event_date | date:'MMM'}}</h3>
            </ion-avatar>
            <h2>{{event.name}}</h2>
            <p>{{event.created_at | date:'MMMM d, y'}}</p>
          </ion-item>
          <ion-card-content>
            <p>{{event.about}}</p>
            <img src="{{event.cover_photo_url}}"/>
          </ion-card-content>
          <!-- <ion-row>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-text" md="md-text"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-10>
              <button ion-button icon-left clear small>
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
              </button>
            </ion-col>
          </ion-row> -->
        </a>
      </ion-card>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab mini color="danger" (click)="openModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
