page-photo-modal {

  img {
    width: 100%;
  }

  .toolbar-title-md {
    color: #f5f5f5;
  }
  .toolbar-title-ios {
    color: #f5f5f5;
  }

  .toolbar-title-wp {
    color: #f5f5f5;
  }
  .content-md, .content-ios, .content-wp {
      color: #000;
      // background-image: url(../assets/images/bg_cadastro.jpg);
      // background-position: center;
      // background-size: cover;
      // background: #f7a14b;
      background: #000;
  }

  .item-md, .item-ios, .item-wp {
     background-color: transparent;
     padding-left: 0;
     color: #f5f5f5;
  }

  .item-inner {
      font-size: 1.5rem;
      color: #f5f5f5 !important;
      border-bottom: 0.55px solid #c8c7cc !important;
  }

  .form-buttons {
      background-color: rgba(255, 255, 255, 0.3) !important;
      border: solid 1px;
      margin-top: 20px;
  }

  .header-md::after {
      background-image: none;
      background-color: transparent;
  }

  .toolbar-background-md, .toolbar-background-ios, .toolbar-background-wp {
      background: transparent;
      color: #f5f5f5;
  }

  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border: none;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color: #f5f5f5;
  }

  p {
    color: #f5f5f5;
    font-size: 2em;
    text-align: center;
  }

  h2 {
      color: #f5f5f5;
      font-size: 0.875em;
      text-align: center;
  }

  .container {
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  .input-has-focus .label-md[floating],
  .input-has-focus .label-ios[floating],
  .input-has-focus .label-wp[floating]{
    color: #f5f5f5;
  }

  .logo {
    width: 32px;
    margin: 15px 50%;
    left: -16px;
    position: relative;
  }

  .back-button {
    display: inline !important;
    color: #f5f5f5 !important;
  }
}
