<!--
  Generated template for the Ads page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <ion-list radio-group [(ngModel)]="ad.area" name="ad_area">
        <ion-item-divider color="light">Modelo do anúncio</ion-item-divider>
        <ion-item>
          <ion-label>Modelo 1</ion-label>
          <ion-radio value="blog_medium"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Modelo 2</ion-label>
          <ion-radio value="blog_large"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Modelo 3</ion-label>
          <ion-radio value="home"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Modelo 4</ion-label>
          <ion-radio value="lateral"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Modelo 5</ion-label>
          <ion-radio value="lateral_small"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Modelo 6</ion-label>
          <ion-radio value="timeline_post"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item *ngFor="let interest_area of interestList">
          <ion-label>
            <h2>{{interest_area.name}}</h2>
          </ion-label>

          <ion-checkbox item-right [(ngModel)]="interest_area.selected" (ionChange)="getSelect(interest_area.selected, interest_area)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-input type="text" [(ngModel)]="ad.description" name="ad_description"></ion-input>
      </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item *ngIf="ad.area=='blog_medium'">Modelo 1</ion-item>
      <ion-item *ngIf="ad.area=='blog_large'">Modelo 2</ion-item>
      <ion-item *ngIf="ad.area=='home'">Modelo 3</ion-item>
      <ion-item *ngIf="ad.area=='lateral'">Modelo 4</ion-item>
      <ion-item *ngIf="ad.area=='lateral_small'">Modelo 5</ion-item>
      <ion-item *ngIf="ad.area=='timeline_post'">Modelo 6</ion-item>

      <ion-list>
        <ion-item *ngFor="let interest_area of selectedAreas">
          <ion-label>
            <h2>{{interest_area.name}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <h2>{{ad.description}}</h2>
      </ion-item>

      <button class="form-buttons" ion-button type="button" (click)="save(ad)" [hidden]="isEditing" block>Cadastrar anúncio</button>
      <button class="form-buttons" ion-button type="button" (click)="update(ad)" [hidden]="!isEditing" block>Modificar anúncio</button>
    </ion-slide>
  </ion-slides>
</ion-content>
