page-feeds {
  .action-status {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f3f1f1;
  }

  .post-images {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
  }

  .post-image {
    width: 50%;
    margin-bottom: 15px;
    overflow: hidden;
    height: 150px;
    /* display: flex; */
    align-self: stretch;
    padding: 2px;
  }

  .post-image img {
    min-width: calc(100% - 30px);
    width: auto;
    max-width: 136%;
    border-radius: 0;
  }

  ion-badge {
    display: inline-block;
    // padding: 11px 7px;
    // min-width: 32px;
    // min-height: 32px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px !important;
    font-size: 0.7em;
    background-color: #ffa051 !important;
  }

  .badges-container{
    min-width: 32px;
    min-height: 32px;
    position: relative;
    top: 19px;
    left: 30px;
    z-index: 9999;
  }

  ion-grid {
    background: rgba(19, 64, 97, 0.1);
  }

  .button-md-primary, .button-ios-primary, .button-wp-primary {
    color: #fff;
    background-color: #123f5f;
  }

  .item-md, .item-ios, .item-wp{
    background-color: transparent;
  }

  .send-comment-button{
    margin: 14px 0px !important;
    padding: 0 .6em !important;
    height: 25px !important;
    font-size: 0.8rem !important;
  }

}
