<ion-header>
  <ion-navbar>
    <bm-header></bm-header>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <a ion-item (click)="openModal()">
      <ion-avatar item-left>
        <!-- <img src="assets/images/logo.png"/> -->
        <img src="{{user.avatar_url}}" id='user_avatar'>
      </ion-avatar>
      <p>
        O que você está pensando...
      </p>
    </a>
  </ion-card>
  <ion-card *ngFor="let post of posts">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{post.user.avatar_url}}"/>
      </ion-avatar>
      <h2>{{post.user.name}}</h2>
      <p>{{post.sent_date_format}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{post.description}}</p>
    </ion-card-content>
    <img src="{{post.attched_image_url}}" *ngIf="post.attched_image_url" />
    <ion-row>
      <ion-col width-10>
        <button class='like-action' ion-button icon-left clear small (click)='like(post)'>
          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" [color]="like_color_for(post)"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-10>
        <button ion-button icon-left clear small (click)='openCommentsModal(post)'>
          <ion-icon ios="ios-text" md="md-text" color="grayed"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-10>
        <button ion-button icon-left clear small>
          <ion-icon ios="ios-share" md="md-share" color="grayed"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-item *ngIf='post.likes.size > 0 || post.comments.length > 0' class="action-status">
      <div item-left no-margin *ngIf='post.likes.size > 0'>
        <ion-badge item-left small>{{post.likes.size}}</ion-badge>
        <ion-icon name="thumbs-up" item-left small></ion-icon>
      </div>
      <div item-right no-margin *ngIf='post.comments.length > 0' (click)='openCommentsModal(post)'>
        <ion-badge item-right small>{{post.comments.length}}</ion-badge>
        <ion-icon name="text" item-right small></ion-icon>
      </div>

    </ion-item>
  </ion-card>
</ion-content>
